* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
    font-weight: 700;
}

::-webkit-scrollbar {
    display: none;
}

.border {
    border: 2px solid black;
}

button {
    cursor: pointer;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    gap: 2vw;
    padding: 2vh;
    background-color: whitesmoke
}


input {
    background-color: transparent;
}

.container1 {
    width: 28vw;
    height: 90vh;
    border-radius: 20px;
    padding: 2vw;

}

.container2 {
    width: 28vw;
    height: 90vh;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;

    /* border: 2px solid black; */
    .dashboard {
        border: 2px solid black;
        width: 100%;
        height: 50%;
        border-radius: 20px;
        padding: 2vw;

        h1 {
            margin-bottom: 3vh;
        }

        .dashDivs {
            height: 75%;
            border-radius: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            .div {
                height: 45%;
                width: 48%;
                border-radius: 20px;
                padding: 1.5vh;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                p {
                    font-size: larger;
                }

                cursor: pointer;
            }

            .dashDone {
                background-color: #abe7d6;
            }

            .dashAll {
                background-color: #fff580;
            }

            .dashRest {
                background-color: #b4c4fe
            }

            .dashDue {
                background-color: #e7acac;
            }
        }
    }

}

@media screen and (max-width: 1250px) {
    .container1 {
        display: none;
    }

    body {
        flex-direction: column;
    }

    .container2 {
        /* width: 72vw; */
        justify-content: space-evenly;
    }
}

.container {
    border: 2px solid black;
    width: 40vw;
    height: 90vh;
    min-width: 600px;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;

    h1 {
        height: 7%;
    }

    .buttons {
        height: 7%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            height: 80%;
            width: 18%;
            color: white;
            background-color: #4d4d4d;
            border-radius: 5px;
            font-size: large;
        }
    }

    .input {
        display: flex;
        flex-direction: column;
        height: 14%;
        justify-content: space-between;

        #inputTodo {
            width: 100%;
            height: 45%;
            font-size: larger;
            font-weight: 600;
            padding: 1vw;
            border: none;
            border-bottom: 2px solid black;
            border-left: 2px solid black;
            border-bottom-left-radius: 8px;

            &:focus {
                outline: none;
            }
        }

        .deadline {
            height: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            input {
                height: 80%;
                width: 60%;
                font-size: larger;
                font-weight: 500;
                padding: 1vw;
                border: none;
                border-bottom: 2px solid black;
                border-left: 2px solid black;
                border-bottom-left-radius: 8px;

                &:focus {
                    outline: none;
                }
            }

            button {
                width: 10%;
                height: 90%;
                background-color: #4d4d4d;
                color: white;
                border-radius: 5px;
                font-size: larger;
            }

            #editBtn {
                display: none;
            }
        }

    }
}

input[type='checkbox'] {
    accent-color: lightgreen;
}

@media screen and (max-width: 600px) {

    .container {
        min-width: 0px;
        width: 95vw;

        .input {
            height: 12%;

            input {
                width: 83%;
            }

            button {
                width: 15%;
            }

            .deadline {
                input {
                    min-width: 200px;
                }

                button {
                    min-width: 50px;
                }
            }
        }

        .buttons {
            button {
                min-width: 80px;
            }
        }

        .todo {

            p {
                font-size: large;
                overflow: scroll;
                scroll-behavior: none;
                width: 70%;
            }

            .lowerTodo {
                p {
                    width: fit-content;
                    margin-left: auto;
                    font-size: small;
                }
            }
        }
    }

    .container2 {
        min-width: 0px;
        width: 95vw;
        justify-content: space-evenly;
    }

}


.todosContainer {
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    overflow: scroll;

    .todo {
        height: 22%;
        border: 2px solid black;
        border-radius: 12px;

        .lowerTodo {
            width: 100%;
            height: 35%;
            display: flex;
            padding-right: 1vw;
            align-items: center;

            p {
                margin-left: auto;
                font-size: medium;
            }
        }

        .upperTodo {
            height: 65%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;

            span {
                margin-left: auto;
            }

            input {
                height: 70%;
                min-width: 25px;
            }

            p {
                font-size: large;
                height: 59%;
                margin-left: 1vw;
                overflow: hidden;
                width: 75%;
            }

            img {
                height: 60%;
                cursor: pointer;
            }

        }
    }

}

.quote {
    height: 12%;
    display: flex;
    align-items: center;
    font-size: large;
    border-top: 2px solid black;
}

.line-through {
    text-decoration: line-through;
    color: gray;
}








#searchTodo {
    width: 100%;
    margin-top: 3vh;
    height: 5%;
    font-size: larger;
    font-weight: 500;
    padding: 1vw;
    border: none;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-bottom-left-radius: 8px;

    &:focus {
        outline: none;
    }
}